*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family: 'poppins',sans-serif;
}

.calculator {
    width : 95%;
    margin : auto;
    position: relative;
    top : 25px;
}

.calculator-screen{
    background-color : #031022;
    font-size : 2.5rem;
    color : white;
    text-align: right;
    padding : 8px;
}


.calculator-keys{
    padding : 15px 0px;
    display : grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(4 , 70px);
    grid-gap : 25px;
}

.calculator-keys button { 
    outline : none;
    font-size : 2rem;
    font-weight : bold;
    color : rgb(51, 51, 51);
    border : none;
    cursor: pointer;
    transition: all ease 1s;
}

.calculator-keys button:hover{
    background-color : gray;
}

.calculator-keys .operator{
    background-color : #feb062;
    color : white;
}

.calculator-keys .operator:hover{
    background-color : #b97128;
}



.calculator-keys .equal-sign{
    background-color: #2cb978;
    color : white;
}

.calculator-keys .equal-sign:hover{
    background-color: #17965b;
}

.calculator-keys .clear{
    background-color: #f26d5b;
    color : white;
}

.calculator-keys .clear:hover{
    background-color: #c4bcbb;
}

.operator.is-depressed {
    background-color : #b97128;
}

/**Media queries**/

@media only screen and (min-width : 600px){
    .calculator{
        width : 80%;
    }
}

@media only screen and (min-width : 768px){
    .calculator{
        width : 70%;
    }
}

@media only screen and (min-width : 992px){
    .calculator{
        width : 60%;
    }
}

@media only screen and (min-width : 1200px){
    .calculator{
        width : 50%;
    }
}
